header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(221, 227, 233);
    color: rgb(75, 90, 105);
    
}
.navegacion{
    margin-right: 30px;
}
a{
    margin-right: 30px;
    text-decoration: none;
    padding: 5px;
    border: solid black 1px;
    border-radius: 8px;
    background-color: white;
    color: black;
}
header h1{
    margin-left: 30px;
    font-family: 'Roboto Mono', monospace;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: rgb(221, 227, 233);
    height: 400px;
}